<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white main-nav" id="mainNav">
    <div class="container">
       

    <div class="collapse navbar-collapse navcollapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto main-navbar">
            <a class="nav-link active" [routerLink]="['/']">Home</a>
            <a class="nav-link"  [routerLink]="['/']" >About</a>
            <a class="nav-link"  [routerLink]="['/']" >Resume</a>
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </ul>
    </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-white main-nav" id="mainNav">
    <div class="container">
    <h4 class="myname"><a [routerLink]="['/']" [ngClass]="{'active': selectedItem == '1'}" (click)="listClick($event, '1')">Somanshu Dhingra</a></h4>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-bars"></i> -->
    </button>
    <div class="collapse navbar-collapse navcollapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto main-navbar">
        <li class="nav-item active" [ngClass]="{'active': selectedItem == '1'}" (click)="listClick($event, '1')">
                <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <!-- <li class="nav-item" [ngClass]="{'active': selectedItem == '2'}" (click)="listClick($event, '2')">
                <a class="nav-link"  [routerLink]="['/']" >About</a>
        </li> -->
        <li class="nav-item" [ngClass]="{'active': selectedItem == '3'}" (click)="listClick($event, '3')">
                <a class="nav-link"  href="assets/pdf/tushar-resume.pdf" target="_blank" >Resume</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': selectedItem == '4'}" (click)="listClick($event, '4')">
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>