<footer>

    
    <div class="text-center top-footer">
            <div class="container">
                    <div class="row">
                        <!-- Footer Location-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <!-- <h4 class="text-uppercase mb-4">Dummy</h4>
                            <p class="lead mb-0">
                                Dummy
                            </p> -->
                        </div>
                        <!-- Footer Social Icons-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Around the Web</h4>
                            <a data-aos="flip-up"  data-aos-duration="1200" data-aos-delay="400" class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/tushar.gulyani.1"><i class="fab fa-fw fa-facebook-f"></i></a>
                            <a data-aos="flip-up"  data-aos-duration="1200" data-aos-delay="800" class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/tushargulyani27/"><i class="fab fa-fw fa-instagram"></i></a>
                            <a data-aos="flip-up"  data-aos-duration="1200" data-aos-delay="1200" class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/tushar-gulyani-664a15123/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                            <a data-aos="flip-up"  data-aos-duration="1200" data-aos-delay="1600" class="btn btn-outline-light btn-social mx-1" href="https://github.com/tushargulyani27"><i class="fab fa-fw fa-github"></i></a>
                        </div>
                        <!-- Footer About Text-->
                        <div class="col-lg-4">
                            <!-- <h4 class="text-uppercase mb-4">Dummy</h4>
                            <p class="lead mb-0">
                                Dummy
                            </p> -->
                        </div>
                    </div>
                </div>
               
    </div>
    <div class="footer-text">
            Developed By <span >Tushar Gulyani</span>
    </div>
</footer>
