<div class="ptop-padding contact-section ">
    <div class="container  ">
        <div class="">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase  mb-0">Contact Me</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
        <div class="row mb-5 pb-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> <a class="btn btn-dark btn-social mr-3" href="#!"><i class="fas fa-map-marker-alt"></i></a>Email Me</h5>
                        <p class="card-text"><a href="mailto:somanshu.dhingra@gmail.com">somanshu.dhingra@gmail.com</a></p>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> <a class="btn btn-dark btn-social mr-3" href="#!"><i class="far fa-envelope"></i></a>My Address</h5>
                        <p class="card-text">Gurgaon, Haryana</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>